name : Postman Collection Workflow

on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
   # - cron : 30 02 * * * # 8 am IST Every day
   # - cron : 00 14 * * * # 7.30 pm IST Every day
    - cron : 00 06 10 * * # 7.30 pm IST Monday to Friday

jobs:
  run-postman-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v6.0.0

      - name: Install Node.js and npm
        uses: actions/setup-node@v6.0.0
        with:
          node-version: '22'
      - name: Install Newman and Html-extra globally
        run: |
             npm install -g newman
             npm install -g newman-reporter-htmlextra

      - name: Run the Postman collection with newman
        run: |
             newman run 'Inwarranty-flow-collection.postman_collection.json' \
             -e QA.postman_environment.json \
             -d testdata.csv \
             -r cli,htmlextra \
             --reporter-htmlextra-export ./newman/index.html

      - name: Newman Report
        if: always() #ensure that archive executed irresepective whether the previous step is passed or failed
        uses: actions/upload-artifact@v5.0.0
        with: 
          name: Newman Report
          path: newman/*.html

      - name: Creating Github page branch
        if: always()
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: newman/

      - name: Send Email Notification
        if: always()
        uses: dawidd6/action-send-mail@v6
        with: 
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: Phoneix Inwarranty Flow Test Execution Notification
          to: saravananoffcl@gmail.com
          from: ${{ secrets.EMAIL_USERNAME }}
          body: |
                Hi,
                Phoneix Inwarranty Flow Tests has been executed. The report has been published and the URL
                is: https://saravanan-ramaraj.github.io/Phoenix-Inwarranty-Flow/
          
          






              
        
          
      
